#content-config-floor .fieldset-wrapper {
  display: flex;
}
#content-config-floor .container-structure {
  border: 1px solid silver;
  margin-left: 10px;
}
#content-config-floor .container-structure .auditorium-structure {
  padding: 5px 10px;
}
#content-config-floor .container-structure .auditorium-content .item-chair {
  background-color: #6bcd00;
  border-radius: 5px 5px 3px 3px;
  margin: 1px;
  padding: 0px 8px;
  cursor: pointer;
}
#content-config-floor .container-structure .auditorium-content td {
  padding: 0;
  text-align: center;
}
#content-config-floor .container-structure .auditorium-content .item-chair-corridor {
  font-size: 6px; 
  padding: 5px 5px;
}
#content-config-floor .container-structure .auditorium-content .item-empty {
  padding: 5px 9px;
}
#content-config-floor .container-structure .auditorium-content .item-chair.chair-disabled {
  background-color: silver;
}
#content-config-floor .container-structure .auditorium-content .item-chair.emergency-exit {
  background-color: rgb(145, 16, 16);
}
.page-configure-reserve .event-information .demo-chairs p {
  margin-top: 10px;
  margin-bottom: 0;
}
.page-configure-reserve .event-information .demo-chairs .item-chair {
  border-radius: 5px 5px 3px 3px;
  color: #FFFFFF;
  margin: 1px;
  width: 100%;
  text-align: center;
  padding: 2px 9px;
}
.page-configure-reserve .event-information .demo-chairs .item-chair.demo-empty {
  background-color: #6bcd00;
}
.page-configure-reserve .event-information .demo-chairs .item-chair.demo-busy {
  background-color: #CCCCCC;
}

.wrapper-auditorium .auditorium-structure .title-floor {
  background-color: #e2e5eb;
  margin-bottom: 0;
  text-align: center;
}
.wrapper-auditorium .auditorium-structure .scenary {
  background-color: #f4f5f7;
  text-align: center;
  padding: 25px 0;
}
.wrapper-auditorium .auditorium-structure .scenary h2 {
  display: inline;
  margin: 0 auto;
}
.wrapper-auditorium .auditorium-structure {
  padding: 5px;
}
.wrapper-auditorium .auditorium-structure tbody {
  border: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper-auditorium .auditorium-structure tr {
  background-color: transparent;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 10px;
}
.wrapper-auditorium .auditorium-structure tr td {
  padding: 0;
  width: 22px;
}
.wrapper-auditorium .auditorium-structure .item-chair {
  border-radius: 5px 5px 3px 3px;
  color: #FFFFFF;
  margin: 1px;
  width: 100%;
  display: block;
  text-align: center;
}
.wrapper-auditorium .auditorium-structure .item-chair.is-chair {
  background-color: #CCCCCC;
  cursor: pointer;
}
.wrapper-auditorium .auditorium-structure .item-chair.is-chair.chair-empty {
  background-color: #6bcd00;
}
.wrapper-auditorium .auditorium-structure .item-chair.emergency-exit {
  position: relative;
}
.wrapper-auditorium .auditorium-structure .item-chair.emergency-exit:after {
  content: 'Exit';
  padding: 5px 10px;
  color: rgb(145, 16, 16);
  position: absolute;
}
.wrapper-auditorium .auditorium-structure .selected-chairs {
  margin-top: 30px;
  text-align: center;
}
.wrapper-auditorium .auditorium-structure .selected-chairs .chairs {
  color: #b90a95;
  display: inline;
}
.wrapper-auditorium .floor-inactive {
  display: none;
}
